<div class="news-bages-block" style="margin: 20px 0">
    <span class="badge badge-primary"></span>
    <span class="badge badge-success"></span>
    <span class="badge badge-danger"></span>
    <span class="badge badge-info"></span>
</div>