<td>
    <input type="checkbox" class="bulk-action-item" data-item-bl-group="{{ bl_groups|join(',') }}" data-item-bl-id="{{ bl_ids|join(',') }}" data-item-group="{{ groups|join(',') }}" data-item-id="{{ item_ids|join(',') }}"/>
</td>