{% extends 'dashboard/templates/list.html.twig' %}
{% block title %}Новости{% endblock %}
{% block body_class %}news{% endblock %}

{% set delete_path = path('admin_dashboard.news_bulk_delete') %}
{% set set_active_path = path('admin_dashboard.news_bulk_set_active') %}
{% set set_disable_path = path('admin_dashboard.news_bulk_set_disable') %}
{% set counter_needed_on_page = 1 %}

{% block table_body %}

    <div class="bulk-actions-block" style="margin: 20px 0;">
        <div class="input-group col-md-3">
            <select multiple class="custom-select" id="filter-news">
                {% for category in categories %}
                    <option value={{ category.id }}>{{ category.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group col-md-3">
            <button class="btn btn-info" id="clear-filter-news" style="margin-top: .75rem;">Сбросить</button>
        </div>
    </div>

    {{ render_update_chron_data_info(app.user, 'news-stat') | raw() }}

    <tr role="row" class="odd">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="width: 20%; text-align: center">
            {% block action_buttons %}
                <div class="btn-group">
                </div>
            {% endblock %}
        </td>
    </tr>
{% endblock %}
